<!DOCTYPE html>
<html lang='zh-Hans'>
<head>
  <meta charset='UTF-8'>
  <title>服务器错误 - HNWS</title>
  <style>
    .error-container {
      display: flex;
      align-items: center;
    }
    .main-title {
      display: inline;
      font-size: 35px;
      font-weight: bold;
      user-select: none;
    }
    .splitter {
      margin-top: 1rem;
      margin-bottom: 1rem;
      border: 1px solid black;
    }
    body {
      margin: 10px;
    }
  </style>
</head>
<body>
<div>
  <div class='error-container'>
    <span class='main-title'>我们很抱歉，但发生了致命的服务器错误。</span>
    <a href='https://www.daziannetwork.com'
       style='font-size: 35px; user-select: none; text-decoration: none; color: lightblue;'>回到首页</a>
  </div>
  <div class='splitter'></div>
  <div>
    <span>发生了一个致命的服务器错误，导致您的页面无法被显示。可能是网络问题或是服务器出现错误。请稍后再试。</span>
  </div>
</div>
</body>
</html>
